.mcp.json
.DS_Store
.seamos-context.json

concept
seamos-assets/
create-project-workspace/*
upload-app-workspace/*
update-app-workspace/*
manage-device-app-workspace/*

ref
.seamos-context.json.lock
docker/fd-headless/prototype/*.log